* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 400px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 50px auto;
    gap: 10px;
}

.visor {
    grid-column: span 2;
    width: 100%;
    height: 60px;
    -webkit-appearance: none;
    border-radius: 5px;
    border: 1px solid rgb(255, 166, 0);
    text-align: right;
    outline: none;

    color: rgb(70, 70, 70);
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0 10px;
}

.visor::placeholder {
    opacity: 50%;
}

.visor::-webkit-outer-spin-button, .visor::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    
}

    .btnNumber {
        height: 40px;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        background-color: rgb(242, 242, 242);
        transition: background-color 200ms;
    }

    .btnNumber:hover {
        background-color: bisque;
    }

    .equal {
        background-color: rgb(255, 166, 0);
        border: 0;
        border-radius: 5px;
        font-size: 30px;
    }

.maths {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

    .mathsBtn {
        background-color: rgb(212, 212, 212);
    }